/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white; /* Cor de fundo padrão */
  color: black; /* Cor do texto padrão */
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  display: flex; /* Flexbox para alinhar o conteúdo */
  flex-direction: column; /* Direção em coluna */
}

header {
  background-color: #333; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto do cabeçalho */
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centraliza os links no cabeçalho */
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px; /* Espaço horizontal entre os links */
}

nav a {
  color: white; /* Cor dos links */
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline; /* Efeito ao passar o mouse */
}

section {
  padding: 20px;
  max-width: 1200px; /* Aumenta a largura máxima da seção */
  width: 100%; /* Garante que a seção ocupe toda a largura disponível */
  margin: auto; /* Centraliza as seções */
  text-align: center; /* Centraliza o texto */
}

/* Estilo para a seção "Sobre Mim" */
#sobre {
  height: calc(100vh - 60px); /* Altura total da tela menos a altura do cabeçalho */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  padding: 40px; /* Adiciona mais padding para aumentar a área clicável */
}

/* Estilo do formulário */
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo do botão */
button {
  background-color: #007bff; /* Cor do botão */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

/* Estilos para o tema escuro */
body.dark-theme {
  background-color: #333; /* Cor de fundo do tema escuro */
  color: white; /* Cor do texto do tema escuro */
}

header.dark-theme {
  background-color: black; /* Cor do cabeçalho no tema escuro */
}

nav a.dark-theme {
  color: white; /* Cor dos links no tema escuro */
}

section.dark-theme {
  background-color: #333; /* Cor de fundo das seções no tema escuro */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Muda a direção para coluna em telas menores */
    align-items: center; /* Centraliza os itens na coluna */
  }

  section {
    padding: 10px; /* Menos padding em telas menores */
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px; /* Menos padding no cabeçalho */
  }

  button {
    width: 100%; /* Botão ocupa toda a largura em telas menores */
  }
}
